{# ./Resources/views/Etudiant/show.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    <h1>Étudiant {{ etudiant }}</h1>

Prénom : {{ etudiant.firstname }}<br/>
Nom:     {{ etudiant.lastname  }}<br/>
Promotion: {{ etudiant.promotion }}<br/>
Filière :  {{ etudiant.filiere }}<br/>

<hr/>
<a href="{{ path('etudiant_list') }}">Retour à la liste</a>

{% endblock %} 